body {
}

#container {
  margin-top: 60px;
}

.shade {
  color: #bbb;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #4682b4;
  transition: 150ms;
}

.bar:hover {
  cursor: pointer;
  fill: #79b1e6;
}

.x.axis path {
  display: none;
}


.sunburst-tooltip {
  background-color: #fcf7e6;
  padding: 3px;
}
.sunburst-segment {
  transition: opacity 150ms;
}
.sunburst-segment:hover {
  opacity: 0.6;
}
