body {
}

#container {
  margin-top: 60px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #4682b4;
  transition: 150ms;
}

.bar:hover {
  cursor: pointer;
  fill: #79b1e6;
}

.x.axis path {
  display: none;
}
