<div ng-controller="FilesCtrl">

  <h3 class="nav-header">
    Image contents
    <!-- TODO Show something like currentImage.time -->
  </h3>

  <div sunburst data="treeData">
    <span ng-hide="treeData">Loading…</span>
  </div>

  <div class="nav-header">Top {{size}} largest files</div>

  <input type="range" min="5" max="100" ng-model="size">

  <table>
    <thead>
      <tr>
        <th>Size</th>
        <th>File</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in files | limitTo: size">
        <td>{{file.size}}</td>
        <td>{{file.name}}</td>
      </tr>
    </tbody>
  </table>


</div>
